ehtml,
body,
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #202020;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    margin: auto;
    width: 100%;
}

.section-container {
    z-index: 1;
    position: relative;
    row-gap: 5rem;
    padding: 3rem 4rem;
}

.layout {
    padding: 0;
}

.marquee-text {
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
}

.marquee {
    position: relative;
    height: 510px;
    width: 100%;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}

.logo {
    position: relative;
    bottom: 4px;
    color: gray;
    font-size: 18px;
}

.navbar-container {
    position: relative;
    display: flex;
    background: transparent;
    justify-content: flex-start;
    gap: 2rem;
    position: relative;
    row-gap: 5rem;
    margin-top: 2rem;
    padding: 0rem 5rem;
    top: 1rem;
    z-index: 3;
}

.shopping-mobile {
    display: none;
}

.logo-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    .logo-mobile {
        display: i;
    }
    .nav-seperator {
        display: none;
    }
    .shoping-desktop {
        display: none;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.4rem !important;
    }
    .shopping-mobile {
        display: inline;
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        background-color: white;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .logo-mobile {
        display: inline;
        z-index: 4;
        position: fixed;
    }
    .cart-icon {
        position: fixed;
        left: 1.3rem;
        top: 1rem;
    }
    .navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        background-color: var(--background-color);
    }
    .nav_item a {
        font-size: 0.8rem;
    }
    .logo-desktop {
        display: none;
    }
}

.logo-inner {
    width: 100px;
    height: 180%;
    bottom: 25px;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
}

.nav_link {
    font-size: 1rem;
    color: #202020;
    font-weight: 500;
    transition: 0.2s ease;
}

.nav_link:hover {
    color: #20202065;
    transition: 0.2s ease;
}

.nav-seperator {
    position: relative;
    right: 6px;
    border-right: 3px solid rgba(0, 0, 0, 0.099);
    height: 28px;
}

.cart-icon {
    font-size: 2.2rem;
    color: gray;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.cart-icon:hover {
    transform: scale(1.1, 1.1);
}

.cart-item-qty {
    position: absolute;
    right: -10px;
    top: -8px;
    font-size: 16px;
    color: #eee;
    background-color: #f02d34;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}


/* Collection and Product Section */

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.products-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    max-width: 900px;
}

.collection-card {
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
}

.collection-card p {
    color: #202020;
}

.collection-card:hover {
    transform: scale(1.1, 1.1);
    transition: 0.2s ease
}

.collection img {
    margin: 0.6rem 0;
}

.product-card {
    margin: 2rem 0;
    text-align: center;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
}

.product-card p {
    color: #202020;
}

.product-card img {
    margin-bottom: -1rem;
}

.product-card:hover {
    transform: scale(1.1, 1.1);
    transition: 0.2s ease
}

.product-image {
    background-color: #ebebeb;
    transform: scale(1, 1);
    transition: 0.6s ease;
}

.product-name {
    font-weight: 500;
}

.product-price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
}


/* Promotion Banner */

.promo-container {
    box-shadow: rgba(52, 52, 54, 0.1) 0px 7px 20px 0px;
    margin: 0 auto;
    max-width: 1200px;
    height: 400px;
    background-image: url('./images/promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1.4fr 1fr;
    border-radius: 20px;
    background: #202020;
    /* fallback colour. Make sure this is just one solid colour. */
    background: linear-gradient(100deg, rgba(22, 23, 31, 0.5), rgba(0, 0, 0, 0.1)), url('./images/promo.png');
    /* The least supported option. */
}

.new-products {
    color: #202020;
}

.promo-content {
    margin: auto 0;
}

.promo-content h3 {
    font-weight: 600;
    line-height: 110%;
    font-size: 2.1rem;
    margin: 0.2rem 0;
}

.promo-content button {
    cursor: pointer;
    margin: 1.2rem 0;
    font-weight: 700;
    border: 2px solid #202020;
    background: none;
    padding: 0.35rem 2.8rem;
    transition: 0.2s ease;
}

.promo-content button:hover {
    color: white;
    background: #202020;
    transition: 0.2s ease;
}


/*Hero Section */

.hero-section-container {
    position: relative;
    bottom: 100px;
    background-image: url('./images/Ionic_banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.hero-section-container .new-products {
    background-color: #32323219;
    border-radius: 40px;
    text-align: center;
    width: 260px;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
}

.hero-section-container button {
    background: transparent;
    border: 4px solid #202020;
    color: #202020;
    padding: 0.8rem 2rem;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease;
}

.hero-section-container button:hover {
    background: #202020;
    color: white;
    transition: 0.2s ease;
    box-shadow: rgba(52, 52, 54, 0.2) 0px 7px 10px 0px;
}

.hero-section-desc {
    margin: 3rem 0;
    font-size: 20px;
    color: #4e4e4e;
    line-height: 1.6rem;
}

.hero-section-container h3 {
    font-size: 7rem;
    text-shadow: -5px 7px 1px rgba(90, 90, 90, 0.169);
    letter-spacing: 0px;
    line-height: 90%;
    margin-top: 4px;
}

.hero-section-container h1 {
    color: white;
    font-size: 10rem;
    margin-left: -20px;
    text-transform: uppercase;
}

.hero-contents {
    position: relative;
    top: 12rem;
}

.hero-section-image {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.desc {
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 300px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #324d67;
}

.desc p {
    color: #5f5f5f;
    font-weight: 100;
    text-align: end;
}

.desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    /* color: black; */
    align-self: flex-end;
}

.products-heading {
    text-align: center;
}

.products-heading h2 {
    font-size: 40px;
    font-weight: 600;
}

.products-heading p {
    color: #202020;
    font-size: 16px;
    font-weight: 200;
}

.footer-banner-container {
    padding: 200px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1;
    color: white;
    width: 100%;
    margin-top: 120px;
}

.banner-desc {
    display: flex;
    justify-content: space-between;
}

.banner-desc button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: red;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.banner-desc .left h3 {
    font-weight: 900;
    font-size: 80px;
    margin-left: 25px;
}

.banner-desc .left p {
    margin: 18px;
}

.footer-banner-image {
    position: absolute;
    /* top: -35%;
  left: 8%; */
    top: -25%;
    left: 25%;
}

.banner-desc .right {
    line-height: 1.4;
}

.banner-desc .right h3 {
    font-weight: 800;
    font-size: 60px;
}

.banner-desc .right p {
    font-size: 18px;
}

.banner-desc .right .company-desc {
    font-size: 14px;
    font-weight: 300;
}

.cart-wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
}

.cart-container {
    height: 100vh;
    width: 600px;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;
}

.footer {
    margin-top: 6rem;
    background-color: #d1d4d963;
    text-align: center;
    padding: 2rem 0;
}

.footer-container {
    text-align: center;
    margin-top: 20px;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
}

.footer-col {
    text-align: left;
}

.footer-col h4 {
    margin-bottom: 1rem;
    font-weight: 700;
}

.footer-link {
    margin: 0.6rem 0;
    color: #606060;
    cursor: pointer;
}

.icons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 1.4rem;
}

.tiktok-icon {
    position: relative;
    left: 3px;
    font-size: 1.6rem;
}

.facebook-icon {
    font-size: 1.6rem;
}

.cart-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.cart-heading .heading {
    margin-left: 10px;
}

.cart-num-items {
    margin-left: 10px;
    color: #f02d34;
}

.empty-cart {
    margin: 40px;
    text-align: center;
}

.empty-cart h3 {
    font-weight: 600;
    font-size: 20px;
}

.cancel {
    cursor: pointer;
}

.product-container {
    margin-top: 15px;
    overflow: auto;
    max-height: 70vh;
    padding: 20px 10px;
}

.product {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.product .cart-product-image {
    width: 180px;
    height: 150px;
    border-radius: 15px;
    background-color: #ebebeb;
}

.item-desc .flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: #324d67;
}

.item-desc .bottom {
    margin-top: 60px;
}

.flex h5 {
    font-size: 24px;
}

.flex h4 {
    font-size: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h3 {
    font-size: 22px;
}

.remove-item {
    font-size: 24px;
    color: #f02d34;
    cursor: pointer;
    background: transparent;
    border: none;
}

.cart-bottom {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 100%;
    padding: 30px 65px;
}

.btn-container {
    width: 400px;
    margin: auto;
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.product-page {
    top: 20rem;
}

.product-detail-container {
    display: flex;
    position: relative;
    top: 4rem;
    justify-content: start;
    gap: 5%;
    margin: 100px;
    margin-top: 60px;
    margin-bottom: 180px;
    color: #324d67;
}

.product-detail-image {
    border-radius: 15px;
    background-color: #ebebeb;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.image-container img {
    box-shadow: rgba(68, 68, 68, 0.2) 0px 7px 15px 0px;
    border-radius: 25px;
}

.product-page-price {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.product-details-text {
    border-left: 2px solid #eaeaea;
    padding-left: 5rem;
    height: 500px;
    text-align: left;
}

.color-group {}

.color-caramel {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #AE815F;
}

.color-ivory {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #C5C5C7;
}

.color-spastic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #EB8860;
}

.color-obsidian {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #303030;
}

.color-name {
    margin-top: 1rem;
}

.reviews-section {
    display: flex;
    margin-bottom: 0.5rem;
}

.star-review {
    font-size: 20px;
}

.reviews-section {
    display: flex;
}

.reviews-section p {
    position: relative;
    bottom: 4px;
}

.product-details-text h1 {
    font-size: 44px;
    font-weight: 500;
}

.product-detail-image:hover {
    background-color: #f02d34;
}

.small-images-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.small-image {
    border-radius: 8px;
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.selected-image {
    background-color: #f02d34;
}

.reviews {
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.product-detail-desc h4 {
    margin-top: 10px;
}

.product-detail-desc p {
    margin-top: 10px;
}

.reviews p {
    color: #324d67;
    margin-top: 0px;
}

.product-detail-desc .price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
    color: gray;
    text-decoration: line-through;
}

.quantity {
    margin-top: 2rem !important;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    gap: 20px;
}

.add-to-cart {
    background: transparent;
    border: 2px solid #202020;
    color: #202020;
    width: 220px;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-to-cart:hover {
    background: #efefef;
    transition: 0.2s ease;
}

.buy-now {
    background: #202020;
    border: 2px solid #202020;
    color: #ffffff;
    padding: 0.5rem;
    width: 230px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.buy-now:hover {
    background: #3b3b3b;
    cursor: pointer;
    transition: 0.2s ease;
}

.quantity-desc {
    border: 1px solid gray;
    padding: 6px;
}

.quantity-desc span {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
}

.quantity-desc .minus {
    border-right: 1px solid gray;
    color: #f02d34;
}

.quantity-desc .num {
    border-right: 1px solid gray;
    font-size: 20px;
}

.quantity-desc .plus {
    color: rgb(49, 168, 49);
}

.maylike-products-wrapper {}

.maylike-products-wrapper h2 {
    text-align: center;
    margin-top: 280px;
    color: #202020;
    font-size: 28px;
}

.maylike-products-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.max-qty {
    font-weight: 500;
    color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
    background-color: white;
    min-height: 60vh;
}

.success,
.cancel {
    width: 1000px;
    margin: auto;
    margin-top: 160px;
    background-color: #dcdcdc;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 40px;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: #324d67;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cancel p {
    font-size: 20px;
    font-weight: 600;
}

.success .description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #f02d34;
}

.product-max-qty {
    margin-top: 10px;
}

.promo-overlay {}

@media screen and (max-width:1024px) {
    .hero-section-container {
        height: 60vh;
    }
    .hero-banner-container {
        height: 560px;
    }
    .hero-contents {
        text-align: center;
    }
    .hero-section-container .new-products {
        width: 100%;
    }
    .hero-section-container h3 {
        font-size: 3rem;
    }
    .hero-section-container {
        position: relative;
        bottom: 100px;
        background-image: url('./images/Ionic_banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 70vh;
        z-index: 0;
    }
    .footer-container {
        text-align: center;
        margin-top: 20px;
        padding: 30px 10px;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 14rem;
    }
    .product-details-text {
        border-top: 2px solid #eaeaea;
        padding-left: 0;
        padding-top: 2rem;
        border-left: none;
    }
    .maylike-products-wrapper {
        margin-top: 202rem;
    }
    .image-container {
        margin-top: 4rem;
    }
    .product-details-text p {
        color: #202020;
    }
    .footer-col {
        margin-bottom: 3rem;
        text-align: center;
    }
    .products-container {
        margin: 0 auto;
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 20px;
        max-width: 900px;
    }
    .promo-container {
        box-shadow: rgba(52, 52, 54, 0.1) 0px 7px 20px 0px;
        margin: 0 auto;
        max-width: 1200px;
        height: 400px;
        background-image: url('./images/promo.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        background: #202020;
        /* fallback colour. Make sure this is just one solid colour. */
        background: linear-gradient(100deg, rgba(22, 23, 31, 0.5), rgba(0, 0, 0, 0.3)), url('./images/promo.png');
        /* The least supported option. */
    }
    .promo-content {
        text-align: center;
    }
    .promo-content h3,
    p {
        color: white;
    }
    .promo-content button {
        cursor: pointer;
        margin: 1.2rem 0;
        color: #ffffff;
        font-weight: 700;
        border: 2px solid #202020;
        background: #202020;
        padding: 0.35rem 2.8rem;
        transition: 0.2s ease;
    }
    .promo-content button:hover {
        color: white;
        background: #202020;
        transition: 0.2s ease;
    }
    .hero-banner-image {
        width: 77%;
        height: 62%;
        top: -2%;
        right: -6%;
    }
    .footer-banner-container {
        height: 560px;
        margin-top: 80px;
    }
    .footer-banner-image {
        width: 77%;
        left: 30%;
        top: 6%;
        height: 56%
    }
    .banner-desc .left h3 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 5px;
    }
    .banner-desc .left p {
        margin: 18px;
    }
    .banner-desc .right h3 {
        font-size: 45px;
    }
    .banner-desc .right p {
        font-size: 18px;
    }
    .banner-desc .right .company-desc {
        font-size: 14px;
    }
    .banner-desc {
        flex-wrap: wrap;
        gap: 20px;
    }
    .hero-banner-container {
        line-height: 1.3;
    }
    .hero-banner-container h1 {
        font-size: 50px;
    }
    .hero-banner-container h3 {
        font-size: 40px;
    }
    .hero-banner-container button {
        margin-top: 90px;
        z-index: 10000;
    }
    .desc {
        bottom: 60px;
    }
    .product-detail-container {
        flex-wrap: wrap;
    }
    .product-detail-container .product-detail-image {
        width: 350px;
        height: 350px;
    }
    .cart-container {
        width: 415px;
        padding: 4px;
    }
    .cart-heading {
        margin-top: 35px;
    }
    .product-container {
        margin-top: 10px;
    }
    .product {
        padding: 20px 5px;
    }
    .product .cart-product-image {
        width: 25%;
        height: 25%;
    }
    .buttons .add-to-cart {
        width: 150px;
    }
    .buttons .buy-now {
        width: 150px;
    }
    .product-detail-container {
        margin: 20px;
    }
    .item-desc .flex {
        width: 200px;
    }
    .top {
        flex-wrap: wrap;
        gap: 10px;
    }
    .item-desc .bottom {
        margin-top: 30px;
    }
    .flex h5 {
        font-size: 16px;
        color: #324d67;
    }
    .flex h4 {
        font-size: 16px;
        color: black;
    }
    .cart-bottom {
        padding: 30px;
    }
    .total h3 {
        font-size: 20px;
    }
    .track {
        animation: marquee 10s linear infinite;
        width: 550%;
    }
    .success-wrapper,
    .cancel-wrapper {
        min-height: 69vh;
    }
    .success,
    .cancel {
        width: 370px;
        margin-top: 100px;
        padding: 20px;
    }
    .success {
        height: 350px;
    }
    .success h2 {
        font-size: 17px;
    }
    .btn-container {
        width: 300px;
        margin: auto;
    }
}

.accordion {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 800px;
}

.accordion-header {
    background-color: #ffffff;
    padding: 18px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.accordion-header h3:hover,
.accordion-header.selected {
    color: #CD2052;
    transition: 0.2s;
}

.selected-title {
    color: #CD2052;
}

.accordion-icon {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.accordion-icon.open {
    transform: rotate(-135deg);
}

.accordion-content {
    padding: 10px;
    width: 800px;
}

.accordion-title {
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 0.5rem;
}

.accordion-section {
    margin-top: 1rem;
}

.color-options {
    display: flex;
}

.color-option {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
    border-spacing: 10px;
    border: 2px solid #ffffff;
}

.color-option.selected {
    border-spacing: 10px;
    border-color: #000;
}

.selected-color {
    font-weight: bold;
}

.color-title {
    font-weight: 800;
    margin-bottom: 1rem;
}

.size-group {}

.size-selector {
    margin-bottom: 20px;
}

.size-options {
    display: flex;
}

.size-option {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size-option.selected {
    background-color: #000;
    color: #fff;
}

.selected-size {
    font-weight: bold;
}

.hide-product {
    display: none;
}

.show-group {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}